<head>
    <title>Buscar CEP com Javascript</title>
    <meta charset="utf-8">
</head>


<body>
    <div>
        <h1>
            <p id="endereco"></p>
        </h1>
    </div>

    <script src=" js/script.js "></script>
</body>